<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIJA.Properties.Settings.smkn_26_jakartaConnectionString"
            connectionString="Data Source=DESKTOP-CG8RC9K;Initial Catalog=smkn_26_jakarta;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SIJA.Properties.Settings.SIJAConnectionString" connectionString="Data Source=DESKTOP-CG8RC9K;Initial Catalog=SIJA;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>